
li > img {
    width:48px;
}

.blue-bg {
    width:100%;
    height:180px;
    background-color:#0282F9;
    z-index:1;
    position:relative;
    .container-xxl {
        height:100%;
    }
}

.comic-card {
    padding:20px;
    margin-bottom:20px;
    img {
        width:170px;
        height:250px;
        object-fit:cover;
    }
}

