// Blue bg for blue bar component
.blue-bg {
    width:100%;
    height:180px;
    background-color:#0282F9;
    z-index:1;
    position:relative;
    .container-xxl {
        height:100%;
    }
}

li > img {
    width:48px;
}

.comic-card {
    padding:20px;
    margin-bottom:20px;
    
    img {
        width:170px;
        height:200px;
        object-fit:cover;
    }

    div {
        max-width:170px;
    }
}

