* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img {
    max-width:100%;
}

ul {
    height:100%;
    padding:0;
    text-decoration:none;
    list-style-type: none;
}

.open-sans {
  font-family: "Open Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}
