* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img {
    max-width:100%;
    max-height:100%;
}

ul {
    height:100%;
    padding:0;
    text-decoration:none;
    list-style-type: none;
}

.reddit-font {
    font-family:'RedditSans', serif !important;
}

@font-face {
    font-family: "RedditSans";
    src:url("./assets/fonts/Reddit_Sans_Condensed/RedditSans.ttf");
    font-weight: bold;
}